@model CatalogueViewModel

<div class="container-fluid ">
    <ul class="row pb-3  list-unstyled" id="catalogue">
        @foreach (var product in Model.Products)
        {
            <li class="col-lg-3 col-sm-6">
                <div class="col-12 p-1 d-flex align-items-stretch p-2">
                    <div class="card border-0 shadow border border-5 rounded p-2 ">
                        <img src="@product.ImageUrl" class="card-img imf-fluid img-top rounded-2 " style="height: 250px; object-fit: cover;">
                        @if (product.Discount != null && DateTime.Now.Ticks > product.Discount.StartDate.Ticks && product.Discount.EndDate != null && DateTime.Now.Ticks < product.Discount.EndDate.GetValueOrDefault().Ticks || product.Discount != null && DateTime.Now.Ticks > product.Discount.StartDate.Ticks && product.Discount.EndDate == null)
                        {
                            <div class="card-img-overlay ">
                                <p class="text-white text-center badge rounded-pill bg-danger">@product.Discount.Name -@product.Discount.DiscountValue%</p>
                            </div>
                        }
                        <div class="card-body d-flex flex-column p-2 ">
                            <div class="d-flex" style="height:50px">
                                <h3 class="d-inline-block card-title text-success" id="@product.Name.ToLower()">@product.Name</h3>
                            </div>

                            <p class="card-text text-decoration-underline mb-4 pt-2">@product.Category.Name</p>
                            <div class="d-flex align-content-center" style="height:100px">
                                <p class="card-text mb-4 ">@Html.Raw(@product.Desc)</p>
                            </div>

                            <div class="card-footer bg-secondary-subtle d-flex justify-content-between  " style="height:10px">
                                @if (product.Discount != null && DateTime.Now.Ticks > product.Discount.StartDate.Ticks && product.Discount.EndDate != null && DateTime.Now.Ticks < product.Discount.EndDate.GetValueOrDefault().Ticks || product.Discount != null && DateTime.Now.Ticks > product.Discount.StartDate.Ticks && product.Discount.EndDate == null)
                                {
                                    <p class="card-text text-decoration-line-through ">$@product.Price</p>
                                    <p class="card-text fw-bold" style="color:red">$@product.DiscountedPrice</p>
                                }
                                else
                                {
                                    <p class="col-12">$@product.Price</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>